<div id="create-server-modal" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 10; user-select: none; display: none; overflow-y: auto; place-items: center; background: var(--bg-secondary);">
    <div style="min-height: 200px; min-width: 400px; max-width: calc(100vw - 10px); max-height: calc(100vh - 20px); margin: 20px; display: flex; flex-direction: column; overflow: hidden; background: var(--nav-bg); border-radius: 0 8px 0 8px;">
        <div style="padding: 1rem 2rem; flex-shrink: 0; gap: 8px; display: flex; flex-direction: column;">
            <h2 style="color: var(--text-color); font-size: larger; margin: 0;">Create a community</h2>
            <p style="margin: 0; font-size: 11px; color: var(--text-secondary);">By creating a community you agree to <a href="">something</a></p>
        </div>
        <form action="/api/create-server" method="post">
            <div style="display: flex; flex-grow: 1; padding: 0px 2rem 2rem; overflow-y: auto; flex-direction: column;">
                <div style="display: flex; flex-direction: column; gap: 8px;">
                    <div>
                        <div style="font-weight: 700; padding: 0 6px 0 6px; text-transform: uppercase; font-size: small; color: var(--text-secondary);">Community Name</div>
                        <input style="width: 100%; border: none; color: var(--text-color); background: var(--bg-secondary); padding: 4px 0;" type="text">
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-shrink: 0; padding: 1rem; gap: 8px; flex-direction: row-reverse; background: var(--accent-terciary);">
                <button type="submit" class="button_primary" style="margin-right: 8px; background: var(--button-bg); text-transform: capitalize; border-radius: 8px; padding: 4px 16px; border: none; font-size: inherit; font-weight: inherit;">create</button>
                <span class="button_secondary" style="background: var(--accent-secondary); text-transform: capitalize; border-radius: 8px; padding: 4px 16px; cursor: pointer;" onclick="exitCreateModal()">cancel</span>
            </div>
        </form>
    </div>
</div>
<script src="/js/createServer.js"></script>