<div class="footer_container">
    <div class="footer_brand_container">
        <img src="/assets/1000044733-lowres.png" alt="Aquilo Logo" style="height: 32px;">
        <p style="color: var(--text-secondary); text-transform: capitalize; font-size: 11px;">a <a href="https://about.hydraulisc.net" target="_blank" rel="noopener noreferrer" style="color: var(--text-secondary);">hydraulisc</a> product</p>
    </div>
    <div class="footer_links_container">
        <div class="footer_links">
            <p>App</p>
            <a href="https://blog.hydraulisc.net/blog/aquilo-roadmap-road-to-community" style="margin-bottom: 0;">Roadmap</a>
        </div>
        <div class="footer_links">
            <p>Developers</p>
            <a href="https://github.com/Hydraulisc/Aquilo" style="margin-bottom: 0;">Contribute</a>
            <a href="https://about.hydraulisc.net/docs/aquilo" style="margin-bottom: 0;">Documentation</a>
            <a href="https://translate.hydraulisc.net/apps/aquilo" style="margin-bottom: 0;">Help Translate</a>
        </div>
        <div class="footer_links">
            <p>Team</p>
            <a href="https://about.hydraulisc.net/" style="margin-bottom: 0;">About</a>
            <a href="https://blog.hydraulisc.net/" style="margin-bottom: 0;">Blog</a>
        </div>
    </div>
</div>