:root {
    --bg-color: #100E09;            /* Premium Black */
    --bg-secondary: #0B0B0Baa;      /* Neutral Black (translucent) */
    --text-color: #d7d9e0;          /* Haulisc White (variation of Designer White) */
    --text-secondary: #acadb3;      /* What? */
    --accent-color: #8086d4;        /* Haulisc Light Blue (variation) */
    --accent-secondary: #5464c7;    /* Haulisc Blue (variation) */
    --accent-terciary: #5667c7ae;   /* Haulisc Blue (transparent) */
    --nav-bg: #181512;              /* Variation of All Black */
    --button-bg: #8086d4;           /* Haulisc Light Blue (variation) */
    --button-text: #d7d9e0;         /* Haulisc White (variation of Designer White) */
}

[data-theme="light"] {
    --bg-color: #f8f9fb;
    --bg-secondary: #eef0f1aa;
    --text-color: #1a1a1a;
    --text-secondary: #474747;
    --accent-color: #5464c7;
    --accent-secondary: #8086d4;
    --accent-terciary: #5464c7ae;
    --nav-bg: #ffffff;
    --button-bg: #5464c7;
    --button-text: #ffffff;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    margin: 0;
    height: 100vh;
    caret-color: var(--accent-color);
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a, button {
    cursor: pointer;
    font-weight: 600;
    position: relative;
}

.loginContainer, .register {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.dynamicLogin, .dynamicRegister {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.login {
    padding-top: 70px;
    min-height: 100vh;
    width: 400px;
    padding-bottom: 50px;
    margin: auto;
}

.bannerDisplay {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.title {
    text-align: center;
    margin-bottom: 12px;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.5;
}

.subtitle {
    margin-top: 8px;
    margin-bottom: 64px;
    text-align: center;
}

.authswitch {
    color: #d7d9e092;
    margin-bottom: 24px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
}

.formItemContainer {
    margin-top: 12px;
}

.formInput {
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 4px;
    background-color: #3d3d3d92;
    text-align: center;
    color: #d7d9e0;
}

.formButton {
    width: 100%;
    padding: 12px 0;
    font-weight: 600;
}

.registerContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.registerPage {
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-width: 312px;
    width: auto;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media (max-width: 576px) {

}

@media (min-width: 576px) {
    .dynamicLogin, .dynamicRegister {
        padding-left: 12px;
        padding-right: 12px;
    }
}
@media (min-width: 1200px) {
    .dynamicLogin, .dynamicRegister {
        max-width: 1200px;
    }
}