<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquilo</title>
    <link rel="shortcut icon" href="/assets/1759430838.png" type="image/x-icon">
    <link rel="icon" type="image/png" href="/assets/1759430838.png">
</head>
<body>
    
</body>
</html>