<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon.webp" type="image/x-icon">
    <link rel="icon" type="image/png" href="/assets/favicon.webp">
    <title>Register | Aquilo</title>
    <link rel="stylesheet" href="/css/authStyles.css">
    <script src="/js/themeSelector.js"></script>
</head>
<body>
    <div id="root">
        <div class="registerContainer">
            <div class="registerPage">
                <div class="register">
                    <div class="dynamicRegister">
                        <div class="login" style="min-height: auto; width: auto !important;">
                            <div class="bannerDisplay">
                                <img src="/assets/1000044733-lowres.png" style="width: 25%; height: auto;">
                            </div>
                            <div class="title">register on <%- title %></div>
                            <div class="subtitle">Create your account. Connect on your terms.</div>
                            <div class="authswitch">Already have an account? <a style="color: inherit;" href="/login">Login</a>.</div>
                            <div>
                                <form action="/auth/register" method="post" id="register-form">
                                    <div class="formItemContainer">
                                        <input class="formInput" type="text" name="username" placeholder="Username">
                                    </div>
                                    <div class="formItemContainer">
                                        <input class="formInput" type="password" name="password" placeholder="Password" autocomplete="off">
                                    </div>
                                    <div class="formItemContainer">
                                        <button class="formButton" type="submit">Register</button>
                                    </div>
                                </form>
                            </div>
                            <div class="formItemContainer">
                                <div class="authswitch">By signing up, you agree to our <a href="/example" style="color: inherit;">Terms of Service</a>, <a href="/example" style="color: inherit;">Privacy Policy</a> and <a href="/example" style="color: inherit;">Community Guidelines</a>.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>